.Rproj.user
.Rhistory
.RData
.Ruserdata
VL-PolWisseMethodenI.qmd
VL1.qmd
VL2.qmd
VL3.qmd
VL4.qmd
VL5.qmd
VL6.qmd
VL7.qmd
VL8.qmd
VL9.qmd
VL10.qmd
VL11.qmd
VL12.qmd
VL13.qmd
.DS_Store
Exported Items.bib
